<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ricardovera_PushNotification>
			<active>true</active>
			<codePool>community</codePool>
		</Ricardovera_PushNotification>
	</modules>
	<global>
		<models>
			<ricardovera_pushnotification>
				<class>Ricardovera_PushNotification_Model</class>
			</ricardovera_pushnotification>
		</models>
		<events>
			<sales_order_status_change>
		        <observers>
		          <Ricardovera_PushNotification_Model_Observer> 
		          	<type>singleton</type>
                    <class>ricardovera_pushnotification/observer</class>
                    <method>sales_order_status_change_handler</method>
		            <args></args>
		          </Ricardovera_PushNotification_Model_Observer>
		        </observers>
		    </sales_order_status_change>
		</events>
		<resources>
                <ricardovera_pushnotification_setup>
                    <setup>
                        <module>Ricardovera_PushNotification</module>
                        <class>Mage_Customer_Model_Entity_Setup</class>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </ricardovera_pushnotification_setup>
                <ricardovera_pushnotification_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </ricardovera_pushnotification_write>
                <ricardovera_pushnotification_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </ricardovera_pushnotification_read>
            </resources>
	</global>
	<frontend>
        <routers>
		    <pushnotification>
		        <use>standard</use>
		        <args>
		            <module>Ricardovera_PushNotification</module>
		            <frontName>pushnotification</frontName>
		        </args>
		    </pushnotification>
		</routers>
    </frontend>
</config>